<h2>Política de Privacidad</h2>
<p>
  <strong>Política de Privacidad de Pepinillos del Huerto</strong><br>
  ¡Hola, amigo pepinillero! Aquí en <strong>Pepinillos del Huerto</strong>, queremos que sepas que tu privacidad es tan importante para nosotros como el pepinillo fresco en una buena ensalada.<br>
  <br>
  **¿Qué recopilamos?**<br>
  Recopilamos información sobre ti, como tu nombre y correo electrónico, solo cuando decides compartirla. No tenemos un ojo mágico que nos permita leer tu mente (aún).<br>
  <br>
  **¿Para qué usamos tu información?**<br>
  Usamos tus datos para enviarte noticias y actualizaciones sobre nuestros deliciosos pepinillos. Prometemos no llenar tu bandeja de entrada con correos electrónicos como si fueran pepinillos en un frasco. Solo lo necesario.<br>
  <br>
  **¿Compartimos tu información?**<br>
  No, no la compartimos. Tu información es tan segura con nosotros como un pepinillo en un tarro hermético. Solo la utilizamos para nuestro propio disfrute (y el tuyo, por supuesto).<br>
  <br>
  **¿Tus derechos?**<br>
  Tienes derecho a pedirnos que dejemos de usar tus datos, como cuando decides que ya has comido suficientes pepinillos en un día (aunque no creemos que eso suceda).<br>
  <br>
  **¿Contactarnos?**<br>
  Si tienes preguntas sobre nuestra política de privacidad o simplemente quieres hablar sobre pepinillos, envíanos un correo a <a href="mailto:infojoseluis15@gmail.com">info&#64;pepinillosdelhuerto.com</a>.<br>
  <br>
  ¡Gracias por confiar en nosotros y disfrutar de nuestros pepinillos!
</p>
 